<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
<title>Untitled Document</title>
<link href="css/common.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<link href="css/blue.css" rel="stylesheet">

</head>

<body>
    <div class="sidebox">
      <div class="sidebox-head">
        <h2>Make An Appointment<span>Ready To Serve You Happily</span></h2>
      </div><!-- Form Title -->
      <div class="sidebox-body">
        <p> Just login and you cannt chsange things as you browse your site.You can watch videos and learn how to:</p>
        <form action="#" class="appointment-form">
          <input class="full" type="text" placeholder="Name Of Patient">
          <span class="half-fields">
          <input class="half" type="text" placeholder="Phone No">
          <input class="half" type="text" placeholder="Doctor Name">
          </span>
          <input class="full" type="email" placeholder="Email">
          <span class="half-fields">
          <input class="half" type="text" placeholder="Date">
          <input class="half" type="text" placeholder="Time">
          </span>
          <input class="full" type="text" placeholder="Additional Info">
          <input class="submit" type="submit" value="Submit">
        </form>
      </div>
   </div><!-- Appointment Form -->

</body>
</html>
