<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>Dicatate Gallery One Column With Left Sidebar</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<link href='http://fonts.googleapis.com/css@family=PT+Sans+Caption_3A400,700_7COpen+Sans_3A400,300,300italic,400italic,600,600italic,800,800italic_7CNoto+Sans_3A400,400italic,700italic,700' rel='stylesheet' type='text/css'>
<link href="css/common.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/blue.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="css/ie.css" />
<script type="text/javascript" language="javascript" src="js/html5shiv.js"></script>
<![endif]-->

<!-- SCRIPTS -->
<script type='text/javascript' src='js/jquery.min.js'></script> 
<script type='text/javascript' src='js/bootstrap.min.js'></script> 
<!-- Camera Slider -->
<script type='text/javascript' src='js/camera/jquery.easing.1.3.js'></script> 
<script type='text/javascript' src='js/camera/camera.min.js'></script> 
<!-- tiny carousel script -->
<script type="text/javascript" src="js/jquery.tinycarousel.min.js"></script>
		
<!-- Lightbox Script -->
<script type='text/javascript' src='js/html5lightbox.js'></script> 
<!-- Document Ready Function -->			
<script type='text/javascript' src='js/script.js'></script> 	
</head>
<!-- Head Ends -->			
<body>
<div class="donate">
	<div class="container">
		<div class="donate-box">
    	<h3>Donate <span class="black">Us</span></h3>
      <p>Lorem ipsum dolor sit amet consectetur adipiscing quis habitant morbi tristique senectus et netus et malesuada .</p>
    </div>
    <div class="donate-box"> 
    	<div class="recieved">
			<h5>$8,700 <span class="black">Recieved</span></h5>
		</div> 
		<div class="target">
			<h5><span class="black">Target</span> $10,500</h5>
		</div>
		<div class="progress">
			<div class="bar" style="width: 60%;"></div>
		</div>
    </div>
    <div class="donate-box">
      <div class="donate-btn">DONATE <span>Now</span></div>
    </div>
    <div class="donate-updown">
      <h6>DONATE <span class="black">US</span></h6>
    </div>
  </div>
</div><!-- Top Donation Bar -->
<div class="theme-layout">
<header>
	<div class="container">
  	<div class="logo">
    	<a href="index.html" title=""><img src="img/resource/logo1.jpg" alt="" /></a>
    </div><!-- Logo --> 
    
	<div id="menu">
		<ul>
			<li><a href="index.html" title="">HOME</a>
				<ul class="drop-down">
					<li><a href="index.html" title="">Home Page Layout 1</a></li>
					<li><a href="index2.html" title="">Home Page Layout 2</a></li>
				</ul>
			</li>
			<li><a href="#" title="">GALLERY</a>
				<ul class="drop-down">
					<li><a href="gallery-two-column-wos.html" title="">2 Column Without SideBar</a></li>
					<li><a href="gallery-three-column-wos.html" title="">3 Column Without Sidebar</a></li>
					<li><a href="gallery-four-column-wos.html" title="">4 Column Without Sidebar</a></li>
					<li class="double-drop"><a href="#" title="">Gallery With Left Sidebar</a>
						<ul class="second drop-down">
							<li><a href="gallery-one-column-left-sidebar.html" title="">1 Column</a></li>
							<li><a href="gallery-two-column-left-sidebar.html" title="">2 Column</a></li>
						</ul> <!-- Double Drop Down Menu -->
					</li><!-- Gallery With Left Sidebar -->
					<li class="double-drop"><a href="#" title="">Gallery With Right Sidebar</a>
						<ul class="second drop-down">
							<li><a href="gallery-one-column.html" title="">1 Column</a></li>
							<li><a href="gallery-two-column.html" title="">2 Column</a></li>
						</ul> <!-- Double Drop Down Menu -->
					</li><!-- Gallery With Right Sidebar -->
				</ul><!-- Drop Down Menu -->
			</li>
			<li><a href="default.htm" title="">PAGES</a> 
				<ul class="drop-down">
					<li class="double-drop"><a href="#" title="">Events</a>
						<ul class="second drop-down">
							<li><a href="recent-events.html" title="">Recent Events</a></li>
							<li><a href="event-single-page.html" title="">Event Single Page</a></li>
						</ul> <!--Double Drop Down Menu -->
					</li>
					<li><a href="doctors-timetable.html" title="">Doctor's Time Table</a></li>
					<li class="double-drop"><a href="#" title="">Our Team</a>
						<ul class="second drop-down">
							<li><a href="our-team.html" title="">Our Team With Sidebar</a></li>
							<li><a href="our-team-wos.html" title="">Our Team Without Sidebar</a></li>
						</ul> <!-- Double Drop Down Menu -->
					</li>
					<li><a href="faqs.html" title="">FAQS</a></li>
					<li><a href="404.html" title="">Error 404 page</a></li>
					<li><a href="search-results.html" title="">Search Results Not Found</a></li>
					<li><a href="search-results-found.html" title="">Search Results Found</a></li>
					<li class="double-drop"><a href="#" title="">Services</a>
						<ul class="second drop-down">
							<li><a href="service.html" title="">Services With Sidebar</a></li>
							<li><a href="service-wos.html" title="">Services Without Sidebar</a></li>
						</ul> <!-- Double Drop Down Menu -->
					</li>
				</ul><!-- Drop Down Menu -->
			</li>
			<li><a href="#" title="">FEATURES</a>
				<ul class="drop-down">
					<li><a href="elements.html#alignment" title="">Image Alignment</a></li>
					<li><a href="elements.html#buttons" title="">Buttons</a></li>
					<li><a href="elements.html#alertboxes" title="">Alertboxes</a></li>
					<li><a href="elements.html#skills" title="">Skills</a></li>
					<li><a href="elements.html#tabs" title="">Tabs</a></li>
					<li><a href="elements.html#toggles" title="">Toggles</a></li>
					<li><a href="elements.html#pricing" title="">Pricing Table</a></li>
					<li><a href="column-page.html" title="">Column Page</a></li>
				</ul><!-- Drop Down Menu -->
			</li>
			<li><a href="blog-page.html" title="">BLOG</a>
				<ul class="drop-down">
					<li><a href="single-post-image.html" title="">Single Post With Image</a></li>
					<li><a href="single-post-video.html" title="">Single Post With Video</a></li>
					<li><a href="single-post-gallery.html" title="">Single Post With Gallery</a></li>
					<li><a href="single-post-slider.html" title="">Single Post With Slider</a></li>
				</ul> <!--Double Drop Down Menu -->
			</li>
			<li><a href="about-us.html" title="">ABOUT US</a></li>
			<li><a href="contact-us.html" title="">CONTACT US</a></li>
		</ul>
	</div><!-- Menu -->
    <select>
      <option onClick="window.location = 'index.html'">Index</option>
      <option onClick="window.location = 'index2.html'">Index2</option>
      <option onClick="window.location = 'gallery-two-column-wos.html'">Gallery Two Column Without Sidebar</option>
      <option onClick="window.location = 'gallery-three-column-wos.html'">Gallery Three Column Without Sidebar</option>
      <option onClick="window.location = 'gallery-four-column-wos.html'">Gallery Four Column Without Sidebar</option>
      <option onClick="window.location = 'gallery-one-column-left-sidebar.html'">Gallery One Column With Left Sidebar</option>
      <option onClick="window.location = 'gallery-two-column-left-sidebar.html'">Gallery Two Column With Left Sidebar</option>
      <option onClick="window.location = 'gallery-one-column.html'">Gallery One Column With Right Sidebar</option>
      <option onClick="window.location = 'gallery-two-column.html'">Gallery Two Column With Right Sidebar</option>
      <option onClick="window.location = 'recent-events.html'">Recent Events</option>
      <option onClick="window.location = 'event-single-page.html'">Single Event Page</option>
      <option onClick="window.location = 'doctors-timetable.html'">Doctor's Timetable</option>
      <option onClick="window.location = 'our-team.html'">Our Team With Sidebar</option>
      <option onClick="window.location = 'our-team-wos.html'">Our Team Without Sidebar</option>
      <option onClick="window.location = 'faqs.html'">Faqs</option>
      <option onClick="window.location = '404.html'">Error404</option>
      <option onClick="window.location = 'search-results.html'">Search Result Not Found</option>
      <option onClick="window.location = 'search-results-found.html'">Search Result Found</option>
       <option onClick="window.location = 'service.html'">Service With Sidebar</option>
	   <option onClick="window.location = 'service-wos.html'">Service Without Sidebar</option>
	   <option onClick="window.location = 'elements.html'">Features</option>
	   <option onClick="window.location = 'column-page.html'">Column Page</option>
	   <option onClick="window.location = 'blog-page.html'">Blog</option>
	   <option onClick="window.location = 'single-post-image.html'">Single Page With Image</option>
	   <option onClick="window.location = 'single-post-video.html'">Single Page With Video</option>
	   <option onClick="window.location = 'single-post-gallery.html'">Single Page With Gallery</option>
	   <option onClick="window.location = 'about-us.html'">About Us</option>
	   <option onClick="window.location = 'contact-us.html'">Contact Us</option>
   </select><!-- Select Navigation On Responsive Version -->
  </div>
</header><!-- Header -->

<section id="inner-page" class="switch">
  <div class="container">
    <div class="left-side-content span8">
      <div class="main-title sec">
	      <h1>Gallery</h1>
        <span class="short-desc">We Strive For Excellence</span>
      </div><!-- Page Title -->
    <div class="slider-area">
      <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
        <div data-thumb="img/resource/gallery-slider1-thumb.jpg" data-src="http://images.webinane.com/d-health/gallery-slider1.jpg">
        </div><!-- Slide 1 --> 
        <div data-thumb="img/resource/gallery-slider2-thumb.jpg" data-src="http://images.webinane.com/d-health/gallery-slider2.jpg">
        </div><!-- Slide 2 -->								
        <div data-thumb="img/resource/gallery-slider3-thumb.jpg" data-src="http://images.webinane.com/d-health/gallery-slider3.jpg">
        </div><!-- Slide 3 -->	
      </div>
    </div>
	  <div class="tabbable gallery-tabs">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#all">All</a></li>
        <li class=""><a data-toggle="tab" href="#doctors">Doctors</a></li>
        <li class=""><a data-toggle="tab" href="#events">Events</a></li>
        <li class=""><a data-toggle="tab" href="#photography">Photography</a></li>
      </ul><!-- Selectors -->
      <div class="tab-content">
        <div id="all" class="tab-pane fade active in">
			<div class="gallery-column">
				<img src="img/resource/gallery-onecolumn-1.jpg" alt="" />
				<div class="date">
					<img src="img/gallery-img-icon.png" alt="" />
					<p>12 <span>April 2013</span></p>
				</div>
				<div class="img-title">Annual Community Health</div>
				<div class="onhover">
					<p>GALLERY / DOCTORS</p>
					<a href="#" title="" class="img-link"><img src="img/link.png" alt="" /></a>
					<a class="html5lightbox img-magnify" data-group="all" title="" href="img/resource/gallery-onecolumn-1.jpg"><img src="img/magnify.png" alt="" /></a>
				</div>
			</div>
			<div class="gallery-column">
				<img src="img/resource/gallery-onecolumn-2.jpg" alt="" />
				<div class="date">
					<img src="img/gallery-img-icon.png" alt="" />
					<p>12 <span>April 2013</span></p>
				</div>
				<div class="img-title">Annual Community Health</div>
				<div class="onhover">
					<p>GALLERY / DOCTORS</p>
					<a href="#" title="" class="img-link"><img src="img/link.png" alt="" /></a>
					<a class="html5lightbox img-magnify" data-group="all" title="" href="img/resource/gallery-onecolumn-2.jpg"><img src="img/magnify.png" alt="" /></a>
				</div>
			</div>
			<div class="gallery-column">
				<img src="img/resource/gallery-onecolumn-3.jpg" alt="" />
				<div class="date">
					<img src="img/gallery-img-icon.png" alt="" />
					<p>12 <span>April 2013</span></p>
				</div>
				<div class="img-title">Annual Community Health</div>
				<div class="onhover">
					<p>GALLERY / DOCTORS</p>
					<a href="#" title="" class="img-link"><img src="img/link.png" alt="" /></a>
					<a class="html5lightbox img-magnify" data-group="all" title="" href="img/resource/gallery-onecolumn-3.jpg"><img src="img/magnify.png" alt="" /></a>
				</div>
			</div>
			<div class="gallery-column">
				<img src="img/resource/gallery-onecolumn-4.jpg" alt="" />
				<div class="date">
					<img src="img/gallery-img-icon.png" alt="" />
					<p>12 <span>April 2013</span></p>
				</div>
				<div class="img-title">Annual Community Health</div>
				<div class="onhover">
					<p>GALLERY / DOCTORS</p>
					<a href="#" title="" class="img-link"><img src="img/link.png" alt="" /></a>
					<a class="html5lightbox img-magnify" data-group="all" title="" href="img/resource/gallery-onecolumn-4.jpg"><img src="img/magnify.png" alt="" /></a>
				</div>
			</div>
			<div class="gallery-column">
				<img src="img/resource/gallery-onecolumn-3.jpg" alt="" />
				<div class="date">
					<img src="img/gallery-img-icon.png" alt="" />
					<p>12 <span>April 2013</span></p>
				</div>
				<div class="img-title">Annual Community Health</div>
				<div class="onhover">
					<p>GALLERY / DOCTORS</p>
					<a href="#" title="" class="img-link"><img src="img/link.png" alt="" /></a>
					<a class="html5lightbox img-magnify" data-group="all" title="" href="img/resource/gallery-onecolumn-3.jpg"><img src="img/magnify.png" alt="" /></a>
				</div>
			</div>
			<div class="gallery-column">
				<img src="img/resource/gallery-onecolumn-4.jpg" alt="" />
				<div class="date">
					<img src="img/gallery-img-icon.png" alt="" />
					<p>12 <span>April 2013</span></p>
				</div>
				<div class="img-title">Annual Community Health</div>
				<div class="onhover">
					<p>GALLERY / DOCTORS</p>
					<a href="#" title="" class="img-link"><img src="img/link.png" alt="" /></a>
					<a class="html5lightbox img-magnify" data-group="all" title="" href="img/resource/gallery-onecolumn-4.jpg"><img src="img/magnify.png" alt="" /></a>
				</div>
			</div>
        </div><!-- All -->
        <div id="doctors" class="tab-pane fade in">
			<div class="gallery-column">
				<img src="img/resource/gallery-onecolumn-3.jpg" alt="" />
				<div class="date">
					<img src="img/gallery-img-icon.png" alt="" />
					<p>12 <span>April 2013</span></p>
				</div>
				<div class="img-title">Annual Community Health</div>
				<div class="onhover">
					<p>GALLERY / DOCTORS</p>
					<a href="#" title="" class="img-link"><img src="img/link.png" alt="" /></a>
					<a class="html5lightbox img-magnify" data-group="all" title="" href="img/resource/gallery-onecolumn-3.jpg"><img src="img/magnify.png" alt="" /></a>
				</div>
			</div>
			<div class="gallery-column">
				<img src="img/resource/gallery-onecolumn-4.jpg" alt="" />
				<div class="date">
					<img src="img/gallery-img-icon.png" alt="" />
					<p>12 <span>April 2013</span></p>
				</div>
				<div class="img-title">Annual Community Health</div>
				<div class="onhover">
					<p>GALLERY / DOCTORS</p>
					<a href="#" title="" class="img-link"><img src="img/link.png" alt="" /></a>
					<a class="html5lightbox img-magnify" data-group="all" title="" href="img/resource/gallery-onecolumn-4.jpg"><img src="img/magnify.png" alt="" /></a>
				</div>
			</div>
        </div><!-- Doctors -->
        <div id="events" class="tab-pane fade in">
			<div class="gallery-column">
				<img src="img/resource/gallery-onecolumn-1.jpg" alt="" />
				<div class="date">
					<img src="img/gallery-img-icon.png" alt="" />
					<p>12 <span>April 2013</span></p>
				</div>
				<div class="img-title">Annual Community Health</div>
				<div class="onhover">
					<p>GALLERY / DOCTORS</p>
					<a href="#" title="" class="img-link"><img src="img/link.png" alt="" /></a>
					<a class="html5lightbox img-magnify" data-group="all" title="" href="img/resource/gallery-onecolumn-1.jpg"><img src="img/magnify.png" alt="" /></a>
				</div>
			</div>
			<div class="gallery-column">
				<img src="img/resource/gallery-onecolumn-2.jpg" alt="" />
				<div class="date">
					<img src="img/gallery-img-icon.png" alt="" />
					<p>12 <span>April 2013</span></p>
				</div>
				<div class="img-title">Annual Community Health</div>
				<div class="onhover">
					<p>GALLERY / DOCTORS</p>
					<a href="#" title="" class="img-link"><img src="img/link.png" alt="" /></a>
					<a class="html5lightbox img-magnify" data-group="all" title="" href="img/resource/gallery-onecolumn-2.jpg"><img src="img/magnify.png" alt="" /></a>
				</div>
			</div>
        </div><!-- Events -->
        <div id="photography" class="tab-pane fade in">
			<div class="gallery-column">
				<img src="img/resource/gallery-onecolumn-1.jpg" alt="" />
				<div class="date">
					<img src="img/gallery-img-icon.png" alt="" />
					<p>12 <span>April 2013</span></p>
				</div>
				<div class="img-title">Annual Community Health</div>
				<div class="onhover">
					<p>GALLERY / DOCTORS</p>
					<a href="#" title="" class="img-link"><img src="img/link.png" alt="" /></a>
					<a class="html5lightbox img-magnify" data-group="all" title="" href="img/resource/gallery-onecolumn-1.jpg"><img src="img/magnify.png" alt="" /></a>
				</div>
			</div>
			<div class="gallery-column">
				<img src="img/resource/gallery-onecolumn-2.jpg" alt="" />
				<div class="date">
					<img src="img/gallery-img-icon.png" alt="" />
					<p>12 <span>April 2013</span></p>
				</div>
				<div class="img-title">Annual Community Health</div>
				<div class="onhover">
					<p>GALLERY / DOCTORS</p>
					<a href="#" title="" class="img-link"><img src="img/link.png" alt="" /></a>
					<a class="html5lightbox img-magnify" data-group="all" title="" href="img/resource/gallery-onecolumn-2.jpg"><img src="img/magnify.png" alt="" /></a>
				</div>
			</div>
        </div><!-- Photography -->
      </div>
    </div>                    

    <div class="pagination">
	    <ul>
        <li><a href="#">Previous</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">Next</a></li>
      </ul>
    </div><!-- Pagination -->
        
    </div><!-- Left Side Content -->  

	<aside class="span4">
		<form id="search-form" action="search-results.html">
			<input class="search-input" type="text" placeholder="search">
			<input class="search-submit" type="submit" value="">            
		</form><!-- Search Form -->
      
		<div class="tabbable sidebar-tabs">
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#popular">Popular Posts</a></li>
				<li class=""><a data-toggle="tab" href="#latest">Latest Posts</a></li>
				<li class=""><a data-toggle="tab" href="#comments">Comments</a></li>
			</ul>
			<div class="tab-content">
				<div id="popular" class="tab-pane fade active in">
					<div class="tab-post">
						<img src="img/resource/sidebar-tabs1.jpg" alt="" />
						<div class="tabpost-detail">
							<p><a href="#" title="">Duis mollis, est non commodo luctus, nisi erat porttitor...</a></p>
							<span><i class="theme-icon calender"></i>September 5, 2012</span>
							<span><i class="theme-icon views"></i>65 views</span>
						</div>
					</div>
					<div class="tab-post">
						<img src="img/resource/sidebar-tabs2.jpg" alt="" />
						<div class="tabpost-detail">
							<p><a href="#" title="">Duis mollis, est non commodo luctus, nisi erat porttitor...</a></p>
							<span><i class="theme-icon calender"></i>September 5, 2012</span>
							<span><i class="theme-icon views"></i>43 views</span>
						</div>
					</div>
					<div class="tab-post">
						<img src="img/resource/sidebar-tabs3.jpg" alt="" />
						<div class="tabpost-detail">
							<p><a href="#" title="">Duis mollis, est non commodo luctus, nisi erat porttitor...</a></p>
							<span><i class="theme-icon calender"></i>September 5, 2012</span>
							<span><i class="theme-icon views"></i>25 views</span>
						</div>
					</div>
					<div class="tab-post">
						<img src="img/resource/sidebar-tabs4.jpg" alt="" />
						<div class="tabpost-detail">
							<p><a href="#" title="">Duis mollis, est non commodo luctus, nisi erat porttitor...</a></p>
							<span><i class="theme-icon calender"></i>September 5, 2012</span>
							<span><i class="theme-icon views"></i>8 views</span>
						</div>
					</div>
				</div> <!-- Popular Posts -->
				<div id="latest" class="tab-pane fade in">
					<div class="tab-post">
						<img src="img/resource/sidebar-tabs3.jpg" alt="" />
						<div class="tabpost-detail">
							<p><a href="#" title="">Duis mollis, est non commodo luctus, nisi erat porttitor...</a></p>
							<span><i class="theme-icon calender"></i>September 5, 2012</span>
							<span><i class="theme-icon views"></i>20 views</span>
						</div>
					</div>
					<div class="tab-post">
						<img src="img/resource/sidebar-tabs4.jpg" alt="" />
						<div class="tabpost-detail">
							<p><a href="#" title="">Duis mollis, est non commodo luctus, nisi erat porttitor...</a></p>
							<span><i class="theme-icon calender"></i>September 5, 2012</span>
							<span><i class="theme-icon views"></i>16 views</span>
						</div>
					</div>
					<div class="tab-post">
						<img src="img/resource/sidebar-tabs1.jpg" alt="" />
						<div class="tabpost-detail">
							<p><a href="#" title="">Duis mollis, est non commodo luctus, nisi erat porttitor...</a></p>
							<span><i class="theme-icon calender"></i>September 5, 2012</span>
							<span><i class="theme-icon views"></i>13 views</span>
						</div>
					</div>
					<div class="tab-post">
						<img src="img/resource/sidebar-tabs2.jpg" alt="" />
						<div class="tabpost-detail">
							<p><a href="#" title="">Duis mollis, est non commodo luctus, nisi erat porttitor...</a></p>
							<span><i class="theme-icon calender"></i>September 5, 2012</span>
							<span><i class="theme-icon views"></i>5 views</span>
						</div>
					</div>
				</div> <!-- Latest Posts -->
				<div id="comments" class="tab-pane fade in">
					<div class="tab-post">
						<div class="tabpost-detail">
							<p><a title="" href="#">"New styles on just reduced mercdise! save on hue reds of just reduced items and sign up with nike."</a></p>
							<span><i class="theme-icon user-small"></i>By: <a href="#" title="">Alan Bond</a><i class="theme-icon post-cat"></i><a href="#" title="">New</a></span>
						</div>
					</div>
					<div class="tab-post">
						<div class="tabpost-detail">
							<p><a title="" href="#">"New styles on just reduced mercdise! save on hue reds of just reduced items and sign up with nike."</a></p>
							<span><i class="theme-icon user-small"></i>By: <a href="#" title="">Alan Bond</a><i class="theme-icon post-cat"></i><a href="#" title="">New</a></span>
						</div>
					</div>
					<div class="tab-post">
						<div class="tabpost-detail">
							<p><a title="" href="#">"New styles on just reduced mercdise! save on hue reds of just reduced items and sign up with nike."</a></p>
							<span><i class="theme-icon user-small"></i>By: <a href="#" title="">Alan Bond</a><i class="theme-icon post-cat"></i><a href="#" title="">New</a></span>
						</div>
					</div>
					<div class="tab-post">
						<div class="tabpost-detail">
							<p><a title="" href="#">"New styles on just reduced mercdise! save on hue reds of just reduced items and sign up with nike."</a></p>
							<span><i class="theme-icon user-small"></i>By: <a href="#" title="">Alan Bond</a><i class="theme-icon post-cat"></i><a href="#" title="">New</a></span>
						</div>
					</div>
				</div> <!-- Posts Comments -->
			</div>

		</div><!--  Sidebar Tabs -->
      
		<div class="sidebar-widget">
			<div class="sidebar-widget-title">
				<h4>Popular <span>Video</span></h4>
			</div>
			<div class="sidebar-video">
				<img src="img/resource/sidebar-video-image.jpg" alt="" />
				<a class="html5lightbox" href="http://player.vimeo.com/video/33741794" title="">
					<span class="play-icon"></span>
				</a>
				<a class="html5lightbox" data-group="sidebar-video" title="" href="http://player.vimeo.com/video/33741794">
					<div class="video-title">A New Way To Buy</div>
				</a> 
			</div>
		</div><!-- Video Widget -->
      
		<div class="sidebar-widget">
			<div class="sidebar-widget-title">
				<h4>Tags <span>Cloud</span></h4>
			</div>
			<div class="tag-clouds">
				<a href="#" title="">business</a>
				<a href="#" title="">css3</a>
				<a href="#" title="">wordpress</a>
				<a href="#" title="">morbi quam libero</a>
				<a href="#" title="">apps</a>
				<a href="#" title="">facilisis</a>
				<a href="#" title="">wordpress</a>
				<a href="#" title="">css3</a>
				<a href="#" title="">apps</a>
				<a href="#" title="">wordpress</a>
				<a href="#" title="">facilisis</a>
				<a href="#" title="">morbi quam libero</a>
			</div>
		</div><!-- Tags -->
            
		<div class="sidebar-widget">
			<div class="sidebar-widget-title">
				<h4>Meta <span>Data</span></h4>
			</div>
			<div class="sidebar-list">
				<ul>
					<li><a href="#" title="">Log In</a></li>
					<li><a href="#" title="">Entries Rss</a></li>
					<li><a href="#" title="">Comments Rss</a></li>
					<li><a href="#" title="">WordPress.Org</a></li>
				</ul>                    
			</div>
		</div><!-- Meta Data -->
      
		<div class="sidebar-widget">
			<div class="sidebar-widget-title">
				<h4>Like <span>Us</span></h4>
			</div>
			<a href="#" title="" class="likes">
				<img src="img/resource/fb-likes.png" alt="" />
				10, 345
				<span>Likes</span>
			</a> 
			<a href="#" title="" class="likes">
				<img src="img/resource/gplus-likes.png" alt="" />                    
				10, 345
				<span>Likes</span>
			</a> 
			<a href="#" title="" class="likes">
				<img src="img/resource/tweet-likes.png" alt="" />                    
				10, 345
				<span>Likes</span>
			</a> 
		</div><!-- Like Us -->
      
		<div class="sidebar-widget">
			<div class="sidebar-widget-title">
				<h4>Categories <span>List</span></h4>
			</div>
			<div class="sub sidebar-list">
				<ul>
					<li>
						<a>Doctor's Listing</a><span>(03)</span>
						<ul class="sub-list">
							<li><a href="#" title="">Emergency Care</a><span>(10)</span></li>
							<li><a href="#" title="">Long term Care</a><span>(05)</span></li>
							<li><a href="#" title="">Services</a><span>(03)</span></li>
						</ul>
					</li>
					<li>
						<a>Blog</a><span>(03)</span>
						<ul class="sub-list">
							<li><a href="#" title="">Emergency Care</a><span>(10)</span></li>
							<li><a href="#" title="">Long term Care</a><span>(05)</span></li>
							<li><a href="#" title="">Services</a><span>(03)</span></li>
						</ul>
					</li>
					<li>
						<a>Services</a><span>(03)</span>
						<ul class="sub-list">
							<li><a href="#" title="">Emergency Care</a><span>(10)</span></li>
							<li><a href="#" title="">Long term Care</a><span>(05)</span></li>
							<li><a href="#" title="">Services</a><span>(03)</span></li>
						</ul>
					</li>
				</ul>                    
			</div>
		</div><!-- Categories -->

		<div class="sidebar-widget">
			<div class="sidebar-widget-title">
				<h4>Doctor's <span>Timetable</span></h4>
			</div>	  
			<dl class="sidebar-accordion">
				<dt><a href="default.htm">Saturday</a></dt>
				<dd>
					<ul>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Christopher, MD</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Dr Hagrety</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Dr John Doe</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Dr Richard Miles</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><a href="#" class="viewall" title="">View All</a></li>
					</ul>
				</dd>
				<dt><a href="default.htm">Sunday</a></dt>
				<dd>
					<ul>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Christopher, MD</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Dr Hagrety</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Dr John Doe</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Dr Richard Miles</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><a href="#" class="viewall" title="">View All</a></li>
					</ul>
				</dd>
				<dt><a href="default.htm">Monday</a></dt>
				<dd>
					<ul>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Christopher, MD</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Dr Hagrety</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Dr John Doe</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Dr Richard Miles</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><a href="#" class="viewall" title="">View All</a></li>
					</ul>
				</dd>
				<dt><a href="default.htm">Tuesday</a></dt>
				<dd>
					<ul>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Christopher, MD</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Dr Hagrety</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Dr John Doe</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Dr Richard Miles</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><a href="#" class="viewall" title="">View All</a></li>
					</ul>
				</dd>
				<dt><a href="default.htm">Wednesday</a></dt>
				<dd>
					<ul>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Christopher, MD</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Dr Hagrety</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Dr John Doe</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Dr Richard Miles</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><a href="#" class="viewall" title="">View All</a></li>
					</ul>
				</dd>
				<dt><a href="default.htm">Thursday</a></dt>
				<dd>
					<ul>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Christopher, MD</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Dr Hagrety</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Dr John Doe</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Dr Richard Miles</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><a href="#" class="viewall" title="">View All</a></li>
					</ul>
				</dd>
				<dt><a href="default.htm">Friday</a></dt>
				<dd>
					<ul>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Christopher, MD</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Dr Hagrety</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Dr John Doe</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><i class="theme-icon user-small"></i><span class="docs-name">Dr Richard Miles</span><span class="timing">09:00 AM - 05:00 PM</span></li>
						<li><a href="#" class="viewall" title="">View All</a></li>
					</ul>
				</dd>
			</dl>
		</div>
	</aside><!-- Side Bar -->
    
    <div class="recent-posts">
      <div class="main-title first">
        <h3>Recent <span>Posts</span></h3>
      </div>
    </div><!-- Recent Post Title -->

		<div id="slider3">
			<a class="buttons next" href="#"></a>
			<a class="buttons prev" href="#"></a>
			<div class="viewport">
				<ul class="overview">
					<li>
						<div class="post-img">
							<img src="img/resource/recent-post1.jpg" alt="" />
							<a class="recent-post-link" href="#" title=""><i class="theme-icon chain"></i></a>
						</div>
						<h6><a href="#" title="">HEALTH PRODUCTS</a></h6>
						<p>Vitamins and Supplements</p>
					</li>
					<li>
						<div class="post-img">
							<img src="img/resource/recent-post2.jpg" alt="" />
							<a class="recent-post-link" href="#" title=""><i class="theme-icon chain"></i></a>
						</div>
						<h6><a href="#" title="">SLIDESHOWS</a></h6>
						<p>How We Feel About Beauty</p>
					</li>
					<li>
						<div class="post-img">
							<img src="img/resource/recent-post3.jpg" alt="" />
							<a class="recent-post-link" href="#" title=""><i class="theme-icon chain"></i></a>
						</div>
						<h6><a href="#" title="">HEALTH & WELLNESS</a></h6>
						<p>People Who Are Changing he Face of Yoga</p>
					</li>
					<li>
						<div class="post-img">
							<img src="img/resource/recent-post4.jpg" alt="" />
							<a class="recent-post-link" href="#" title=""><i class="theme-icon chain"></i></a>
						</div>
						<h6><a href="#" title="">HEALTH PRODUCTS</a></h6>
						<p>Friendly Foods That Pack a Punch</p>
					</li>
					<li>
						<div class="post-img">
							<img src="img/resource/recent-post5.jpg" alt="" />
							<a class="recent-post-link" href="#" title=""><i class="theme-icon chain"></i></a>
						</div>
						<h6><a href="#" title="">HEALTH & WELLNESS</a></h6>
						<p>Pad Kitchen Must-Haves</p>
					</li>
					<li>
						<div class="post-img">
							<img src="img/resource/recent-post6.jpg" alt="" />
							<a class="recent-post-link" href="#" title=""><i class="theme-icon chain"></i></a>
						</div>
						<h6><a href="#" title="">HEALTH PRODUCTS</a></h6>
						<p>The 2013 Embassy Chef Challenge</p>
					</li>
					<li>
						<div class="post-img">
							<img src="img/resource/recent-post1.jpg" alt="" />
							<a class="recent-post-link" href="#" title=""><i class="theme-icon chain"></i></a>
						</div>
						<h6><a href="#" title="">HEALTH PRODUCTS</a></h6>
						<p>Vitamins and Supplements</p>
					</li>
					<li>
						<div class="post-img">
							<img src="img/resource/recent-post2.jpg" alt="" />
							<a class="recent-post-link" href="#" title=""><i class="theme-icon chain"></i></a>
						</div>
						<h6><a href="#" title="">SLIDESHOWS</a></h6>
						<p>How We Feel About Beauty</p>
					</li>
					<li>
						<div class="post-img">
							<img src="img/resource/recent-post3.jpg" alt="" />
							<a class="recent-post-link" href="#" title=""><i class="theme-icon chain"></i></a>
						</div>
						<h6><a href="#" title="">HEALTH & WELLNESS</a></h6>
						<p>People Who Are Changing he Face of Yoga</p>
					</li>
				</ul>
			</div>
		</div><!-- Recent Post Carousel -->
  </div>        
</section>
</div>
<footer>
  <div class="container">
    <div class="widget">
      <h3 class="footer-title">Follow <span>Us</span></h3>
      <div class="follow">
        <ul>
          <li><a href="default.htm" title=""><i class="theme-icon twitter"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon facebook"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon skype"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon linkedin"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon flickr"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon youtube"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon dropjack"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon dribble"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon vimeo"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon rss"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon tumbler"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon share"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon behance"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon audioscrobble"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon yahoo"></i></a></li>
        </ul>
        <p>Lorem Ipsum is simply dummy text of the prinwng and typesetting industry.</p>
      </div>
    </div><!-- Follow Us -->
    <div class="widget">
      <h3 class="footer-title">Our <span>Location</span></h3>
      <div class="location">
       <iframe height="150" src="http://maps.google.com/?ie=UTF8&amp;ll=10.487812,-22.675781&amp;spn=45.061776,86.572266&amp;t=m&amp;z=4&amp;output=embed"></iframe>
        <ul>
          <li><i class="theme-icon email"></i><span class="source">by e-mail;</span> <span class="detail">info@yoursite.com</span> </li>
          <li><i class="theme-icon phone"></i><span class="source">by phone;</span> <span class="detail">+900-78601</span> </li>
          <li><i class="theme-icon home"></i><span class="source">Address;</span> <span class="detail">123, Seward Street, Os kla Home City, USA</span> </li>
        </ul>
      </div>
    </div><!-- Location -->
    <div class="widget">
      <h3 class="footer-title">Contact <span>Us</span></h3>
      <div class="contact-form">
        <form>
          <input type="text" placeholder="Name">
          <input type="email" placeholder="Email">
          <textarea rows="4" placeholder="Message"></textarea>
          <input type="Submit" value="Submit" class="submit">
        </form>
      </div>
    </div><!-- Contact Us Form -->
    <div class="widget">
      <h3 class="footer-title">Recent <span>From Flickr</span></h3>
		<div class="flickr-images">
			<a href="#"><img src="img/resource/flickr1.jpg" alt="" /></a>
			<a href="#"><img src="img/resource/flickr2.jpg" alt="" /></a>
			<a href="#"><img src="img/resource/flickr3.jpg" alt="" /></a>
			<a href="#"><img src="img/resource/flickr4.jpg" alt="" /></a>
			<a href="#"><img src="img/resource/flickr5.jpg" alt="" /></a>
			<a href="#"><img src="img/resource/flickr6.jpg" alt="" /></a>
			<a href="#"><img src="img/resource/flickr7.jpg" alt="" /></a>
			<a href="#"><img src="img/resource/flickr8.jpg" alt="" /></a>
			<a href="#"><img src="img/resource/flickr9.jpg" alt="" /></a>
		</div>
	</div>
  </div>
</footer><!-- Footer -->

<div class="bottom-footer">
  <div class="container">
	<p>"@ All Rights Reserved" by Webinane A <a href="http://www.webinane.com/default.htm" title="">Web Design Company</a></p>
    <ul>
      <li><a href="#" title="">Home</a></li>
      <li><a href="#" title="">Our Doctors</a></li>
      <li><a href="#" title="">Services</a></li>
      <li><a href="#" title="">Privacy Policy</a></li>
    </ul>
  </div>
</div><!-- Bottom Footer Strip -->
<div class="side-panel">
	<span class="panel-icon"><p>Template Settings Panel</p></span>


	<h6>Theme Colors</h6>
	<div class="colors">
		<a href="index.html" title="" class="color1"></a>
		<a href="../green/index.html" title="" class="color2"></a>
		<a href="../lagoon/index.html" title="" class="color3"></a>
		<a href="../orange/index.html" title="" class="color4"></a>
		<a href="../purple/index.html" title="" class="color5"></a>
	</div>

	<h6>Layout Styles</h6>
	<div class="layout-buttons">
		<a class="boxed-style" title="">BOXED</a>
		<a class="full-style" title="">WIDESCREEN</a>
	</div>

	<h6>Bakground Patterns</h6>
	<div class="colors">
		<a href="#" title="" class="pat1"></a>
		<a href="#" title="" class="pat2"></a>
		<a href="#" title="" class="pat3"></a>
		<a href="#" title="" class="pat4"></a>
		<a href="#" title="" class="pat5"></a>
		<a href="#" title="" class="pat6"></a>
		<a href="#" title="" class="pat7"></a>
		<a href="#" title="" class="pat8"></a>
		<a href="#" title="" class="pat9"></a>
		<a href="#" title="" class="pat10"></a>
	</div>
	
</div>

</body>
	
</html>