<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>DICTATE</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<link href="css/common.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/blue.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700|Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Noto+Sans:400,400italic,700,700italic|PT+Sans+Caption:400,700' rel='stylesheet' type='text/css'>
<link href="css/responsive.css" rel="stylesheet">
<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="css/ie.css" />
<script type="text/javascript" language="javascript" src="js/html5shiv.js"></script>
<![endif]-->
<!-- SCRIPTS -->
<script type='text/javascript' src='js/jquery.min.js'></script> 
<script type="text/javascript" src="js/script.js"></script>
<script type='text/javascript' src='js/bootstrap.min.js'></script>
<!-- Camera Slider -->
<script type='text/javascript' src='js/camera/jquery.easing.1.3.js'></script>
<script type='text/javascript' src='js/camera/camera.min.js'></script>
<!-- Round About Carousel -->
<script src="js/jquery.roundabout.min.js"></script>
<!-- tiny carousel script -->
<script type="text/javascript" src="js/jquery.tinycarousel.min.js"></script>
<!-- lightbox Script -->
<script src="js/html5lightbox.js"></script>
</head>
<!-- Head Ends -->

<body>
<div class="donate">
	<div class="container">
		<div class="donate-box">
    	<h3>Donate <span class="black">Us</span></h3>
      <p>Lorem ipsum dolor sit amet consectetur adipiscing quis habitant morbi tristique senectus et netus et malesuada .</p>
    </div>
    <div class="donate-box"> 
    	<div class="recieved">
			<h5>$8,700 <span class="black">Recieved</span></h5>
		</div> 
		<div class="target">
			<h5><span class="black">Target</span> $10,500</h5>
		</div>
		<div class="progress">
			<div class="bar" style="width: 60%;"></div>
		</div>
    </div>
    <div class="donate-box">
      <div class="donate-btn">DONATE <span>Now</span></div>
    </div>
    <div class="donate-updown">
      <h6>DONATE <span class="black">US</span></h6>
    </div>
  </div>
</div><!-- Top Donation Bar -->

<div class="theme-layout">
<header>
	<div class="container">
  	<div class="logo">
    	<a href="index.html" title=""><img src="img/resource/logo1.jpg" alt="" /></a>
    </div><!-- Logo --> 
    
	<div id="menu">
		<ul>
			<li><a href="index.html" title="">HOME</a>
				<ul class="drop-down">
					<li><a href="index.html" title="">Home Page Layout 1</a></li>
					<li><a href="index2.html" title="">Home Page Layout 2</a></li>
				</ul>
			</li>
			<li><a href="#" title="">GALLERY</a>
				<ul class="drop-down">
					<li><a href="gallery-two-column-wos.html" title="">2 Column Without SideBar</a></li>
					<li><a href="gallery-three-column-wos.html" title="">3 Column Without Sidebar</a></li>
					<li><a href="gallery-four-column-wos.html" title="">4 Column Without Sidebar</a></li>
					<li class="double-drop"><a href="#" title="">Gallery With Left Sidebar</a>
						<ul class="second drop-down">
							<li><a href="gallery-one-column-left-sidebar.html" title="">1 Column</a></li>
							<li><a href="gallery-two-column-left-sidebar.html" title="">2 Column</a></li>
						</ul> <!-- Double Drop Down Menu -->
					</li><!-- Gallery With Left Sidebar -->
					<li class="double-drop"><a href="#" title="">Gallery With Right Sidebar</a>
						<ul class="second drop-down">
							<li><a href="gallery-one-column.html" title="">1 Column</a></li>
							<li><a href="gallery-two-column.html" title="">2 Column</a></li>
						</ul> <!-- Double Drop Down Menu -->
					</li><!-- Gallery With Right Sidebar -->
				</ul><!-- Drop Down Menu -->
			</li>
			<li><a href="default.htm" title="">PAGES</a> 
				<ul class="drop-down">
					<li class="double-drop"><a href="#" title="">Events</a>
						<ul class="second drop-down">
							<li><a href="recent-events.html" title="">Recent Events</a></li>
							<li><a href="event-single-page.html" title="">Event Single Page</a></li>
						</ul> <!--Double Drop Down Menu -->
					</li>
					<li><a href="doctors-timetable.html" title="">Doctor's Time Table</a></li>
					<li class="double-drop"><a href="#" title="">Our Team</a>
						<ul class="second drop-down">
							<li><a href="our-team.html" title="">Our Team With Sidebar</a></li>
							<li><a href="our-team-wos.html" title="">Our Team Without Sidebar</a></li>
						</ul> <!-- Double Drop Down Menu -->
					</li>
					<li><a href="faqs.html" title="">FAQS</a></li>
					<li><a href="404.html" title="">Error 404 page</a></li>
					<li><a href="search-results.html" title="">Search Results Not Found</a></li>
					<li><a href="search-results-found.html" title="">Search Results Found</a></li>
					<li class="double-drop"><a href="#" title="">Services</a>
						<ul class="second drop-down">
							<li><a href="service.html" title="">Services With Sidebar</a></li>
							<li><a href="service-wos.html" title="">Services Without Sidebar</a></li>
						</ul> <!-- Double Drop Down Menu -->
					</li>
				</ul><!-- Drop Down Menu -->
			</li>
			<li><a href="#" title="">FEATURES</a>
				<ul class="drop-down">
					<li><a href="elements.html#alignment" title="">Image Alignment</a></li>
					<li><a href="elements.html#buttons" title="">Buttons</a></li>
					<li><a href="elements.html#alertboxes" title="">Alertboxes</a></li>
					<li><a href="elements.html#skills" title="">Skills</a></li>
					<li><a href="elements.html#tabs" title="">Tabs</a></li>
					<li><a href="elements.html#toggles" title="">Toggles</a></li>
					<li><a href="elements.html#pricing" title="">Pricing Table</a></li>
					<li><a href="column-page.html" title="">Column Page</a></li>
				</ul><!-- Drop Down Menu -->
			</li>
			<li><a href="blog-page.html" title="">BLOG</a>
				<ul class="drop-down">
					<li><a href="single-post-image.html" title="">Single Post With Image</a></li>
					<li><a href="single-post-video.html" title="">Single Post With Video</a></li>
					<li><a href="single-post-gallery.html" title="">Single Post With Gallery</a></li>
					<li><a href="single-post-slider.html" title="">Single Post With Slider</a></li>
				</ul> <!--Double Drop Down Menu -->
			</li>
			<li><a href="about-us.html" title="">ABOUT US</a></li>
			<li><a href="contact-us.html" title="">CONTACT US</a></li>
		</ul>
	</div><!-- Menu -->
	<select class="ipadMenu">
		<option value="index.html">home</option>
		<option value="index2.html">home2</option>
		<option value="gallery-two-column-wos.html">Gallery Two Column Without Sidebar</option>
		<option value="gallery-three-column-wos.html">Gallery Three Column Without Sidebar</option>
		<option value="gallery-four-column-wos.html">Gallery Four Column Without Sidebar</option>
		<option value="gallery-one-column-left-sidebar.html">Gallery One Column With Left Sidebar</option>
		<option value="gallery-two-column-left-sidebar.html">Gallery Two Column With Left Sidebar</option>
		<option value="gallery-one-column.html">Gallery One Column With Right Sidebar</option>
		<option value="gallery-two-column.html">Gallery Two Column With Right Sidebar</option>
		<option value="recent-events.html">Recent Events</option>
		<option value="event-single-page.html">Single Event Page</option>
		<option value="doctors-timetable.html">Doctor's Timetable</option>
		<option value="our-team.html">Our Team With Sidebar</option>
		<option value="our-team-wos.html">Our Team Without Sidebar</option>
		<option value="faqs.html">Faqs</option>
		<option value="404.html">Error404</option>
		<option value="search-results.html">Search Result Not Found</option>
		<option value="search-results-found.html">Search Result Found</option>
		<option value="service.html">Service With Sidebar</option>
		<option value="service-wos.html">Service Without Sidebar</option>
		<option value="elements.html">Features</option>
		<option value="column-page.html">Column Page</option>
		<option value="blog-page.html">Blog</option>
		<option value="single-post-image.html">Single Page With Image</option>
		<option value="single-post-video.html">Single Page With Video</option>
		<option value="single-post-gallery.html">Single Page With Gallery</option>
		<option value="about-us.html">About Us</option>
		<option value="contact-us.html">Contact Us</option>
	</select><!-- Select Navigation On Responsive Version -->
  </div>
</header><!-- Header -->


<div class="slider-area">
  <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
  	<div data-thumb="img/resource/slider1-thumb.jpg" data-src="http://images.webinane.com/d-health/slider1.jpg">
	<div class="camera_caption slide1 fadeFromRight"> 
		<div class="slide1-style">
			<span><img src="img/resource/slide1-logo.png" alt="" />The <span>Perfect Template</span> with</span>
			<h3>Responsive and <span>Flexible</span></h3>
		</div>
	</div>
	<div class="camera_caption slide1 fadeFromBottom"> 
		<p>layout which can be opened in any mobile device or tablet. The perfect work has been done in this html</p> 
		<p>template which fits in every electronics device like iPad.</p>
	</div>
    </div><!-- 1st Slide -->
    <div data-thumb="img/resource/slider2-thumb.jpg" data-src="http://images.webinane.com/d-health/slider2.jpg">
	<div class="camera_caption slide2 fadeFromLeft"> 
		<div class="slide2-style">
			<span>Dictate Gives You The Best Way to Create A</span>
			<h3>Creative <span>Website</span></h3>
			<h4>Conviniently <span>and</span> Easily</h4>
			<p>For the Clinics, Hospitals, Health Centers etc.</p>
		</div>
	</div>
    </div><!-- 2nd Slide -->
    <div data-thumb="img/resource/slider3-thumb.jpg" data-src="http://images.webinane.com/d-health/slider3.jpg">
	<div class="camera_caption slide3 fadeFromLeft"> 
		<div class="slide3-style">
			<h3>3 Sliders Support</h3>
			<p>Sliders are used to display your work aggressively</p>
			<span>on the main page to put impression.</span>
		</div>
	</div>
    </div><!-- 3rd Slide -->
    <div data-thumb="img/resource/slider4-thumb.jpg" data-src="http://images.webinane.com/d-health/slider4.jpg">
	<div class="camera_caption slide4 fadeFromBottom"> 
		<div class="slide4-style">
			<h3><span>Do you <i>need</i> a New Health & </span> Medical HTML <i>Template</i></h3>
			<p>This template will be best suited for all the medical, doctors, health related website. It has all the features to be used for hospitals and clinics needs.  </p>
		</div>
	</div>
    </div><!-- 4th Slide -->
    <div data-thumb="img/resource/slider5-thumb.jpg" data-src="http://images.webinane.com/d-health/slider5.jpg">
	<div class="camera_caption slide5 fadeFromLeft"> 
		<div class="slide5-style">
			<h3>Top <i>notch</i> <span>HTML5 Work</span></h3>
			<p>This newly designed HTML 5 template is going to be launched with pure coding of HTML5.</p>
		</div>
	</div>	
    </div><!-- 5th Slide -->
  </div>
</div><!-- Slider Area -->


<section id="serve">
	<div class="title">
		<div class="container">
    	<h2>THE PEOPLE WHO WILL SERVE YOU <span class="slogan">Expert Doctors in Our Team</span> </h2>
    </div>
  </div><!-- Section Title -->
  
  <div id="slider1">
    <div class="container"> <span class="carousel-pagination"> <a class="buttons prev" href="#">left</a> <a class="buttons next" href="#">right</a> </span>
      <div class="viewport">
        <ul class="overview">
			<li>
				<div class="serve-img"> 
					<img src="img/resource/serve1.jpg" alt="" />
					<div class="serve-hover">
						<p>Lorem ipsdo lowr st amet, consectietd ur adipiscing elit.as fvharetra magna id augue pelle sque non tempius nunc consectetur.</p>
						<a href="#" title="" class="link"></a>
						<a href="img/resource/serve1.jpg" class="html5lightbox" data-group="team"><span class="magnify"></span></a>
						<div class="progress indivisual">
							<div class="bar" style="width: 30%;"></div>
							<span>Surgeon Skills</span><i>30%</i>
						</div>
						<div class="progress indivisual">
							<div class="bar" style="width: 60%;"></div>
							<span>Cardiology Skills</span><i>60%</i>
						</div>
					</div>
				</div>
				<div class="figcaption"> 
					<div class="serve-intro">
						<h3><i class="theme-icon user"></i>Dr. Ava Kuch</h3>
						<span class="speciality">Cardiologist</span> 
					</div> 
					<div class="contact">
						<h4>Contact</h4>
						<ul>
							<li><a href="default.htm" title=""><i class="theme-icon mail"></i></a></li>
							<li><a href="default.htm" title=""><i class="theme-icon twitter"></i></a></li>
							<li><a href="default.htm" title=""><i class="theme-icon facebook"></i></a></li>
							<li><a href="default.htm" title=""><i class="theme-icon skype"></i></a></li>
						</ul>
					</div> 
				</div>
			</li>
			<li>
				<div class="serve-img"> 
					<img src="img/resource/serve2.jpg" alt="" />
					<div class="serve-hover">
						<p>Lorem ipsdo lowr st amet, consectietd ur adipiscing elit.as fvharetra magna id augue pelle sque non tempius nunc consectetur.</p>
						<a href="#" title="" class="link"></a>
						<a href="img/resource/serve2.jpg" class="html5lightbox" data-group="team"><span class="magnify"></span></a>
						<div class="progress indivisual">
							<div class="bar" style="width: 30%;"></div>
							<span>Surgeon Skills</span><i>30%</i>
						</div>
						<div class="progress indivisual">
							<div class="bar" style="width: 60%;"></div>
							<span>Cardiology Skills</span><i>60%</i>
						</div>
					</div>
				</div>
				<div class="figcaption"> 
					<div class="serve-intro">
						<h3><i class="theme-icon user"></i>Dr. Grace Henry</h3>
						<span class="speciality">Urologist</span> 
					</div> 
					<div class="contact">
						<h4>Contact</h4>
						<ul>
							<li><a href="default.htm" title=""><i class="theme-icon mail"></i></a></li>
							<li><a href="default.htm" title=""><i class="theme-icon twitter"></i></a></li>
							<li><a href="default.htm" title=""><i class="theme-icon facebook"></i></a></li>
							<li><a href="default.htm" title=""><i class="theme-icon skype"></i></a></li>
						</ul>
					</div> 
				</div>
			</li>
			<li>
				<div class="serve-img"> 
					<img src="img/resource/serve3.jpg" alt="" />
					<div class="serve-hover">
						<p>Lorem ipsdo lowr st amet, consectietd ur adipiscing elit.as fvharetra magna id augue pelle sque non tempius nunc consectetur.</p>
						<a href="#" title="" class="link"></a>
						<a href="img/resource/serve3.jpg" class="html5lightbox" data-group="team"><span class="magnify"></span></a>
						<div class="progress indivisual">
							<div class="bar" style="width: 30%;"></div>
							<span>Surgeon Skills</span><i>30%</i>
						</div>
						<div class="progress indivisual">
							<div class="bar" style="width: 60%;"></div>
							<span>Cardiology Skills</span><i>60%</i>
						</div>
					</div>
				</div>
				<div class="figcaption"> 
					<div class="serve-intro">
						<h3><i class="theme-icon user"></i>Dr. Jayden Ryan</h3>
						<span class="speciality">Pathologist</span> 
					</div> 
					<div class="contact">
						<h4>Contact</h4>
						<ul>
							<li><a href="default.htm" title=""><i class="theme-icon mail"></i></a></li>
							<li><a href="default.htm" title=""><i class="theme-icon twitter"></i></a></li>
							<li><a href="default.htm" title=""><i class="theme-icon facebook"></i></a></li>
							<li><a href="default.htm" title=""><i class="theme-icon skype"></i></a></li>
						</ul>
					</div> 
				</div>
			</li>
			<li>
				<div class="serve-img"> 
					<img src="img/resource/serve4.jpg" alt="" />
					<div class="serve-hover">
						<p>Lorem ipsdo lowr st amet, consectietd ur adipiscing elit.as fvharetra magna id augue pelle sque non tempius nunc consectetur.</p>
						<a href="#" title="" class="link"></a>
						<a href="img/resource/serve4.jpg" class="html5lightbox" data-group="team"><span class="magnify"></span></a>
						<div class="progress indivisual">
							<div class="bar" style="width: 30%;"></div>
							<span>Surgeon Skills</span><i>30%</i>
						</div>
						<div class="progress indivisual">
							<div class="bar" style="width: 60%;"></div>
							<span>Cardiology Skills</span><i>60%</i>
						</div>
					</div>
				</div>
				<div class="figcaption"> 
					<div class="serve-intro">
						<h3><i class="theme-icon user"></i>Dr. Sofia Nida</h3>
						<span class="speciality">Cardiologist</span> 
					</div> 
					<div class="contact">
						<h4>Contact</h4>
						<ul>
							<li><a href="default.htm" title=""><i class="theme-icon mail"></i></a></li>
							<li><a href="default.htm" title=""><i class="theme-icon twitter"></i></a></li>
							<li><a href="default.htm" title=""><i class="theme-icon facebook"></i></a></li>
							<li><a href="default.htm" title=""><i class="theme-icon skype"></i></a></li>
						</ul>
					</div> 
				</div>
			</li>
			<li>
				<div class="serve-img"> 
					<img src="img/resource/serve1.jpg" alt="" />
					<div class="serve-hover">
						<p>Lorem ipsdo lowr st amet, consectietd ur adipiscing elit.as fvharetra magna id augue pelle sque non tempius nunc consectetur.</p>
						<a href="#" title="" class="link"></a>
						<a href="img/resource/serve1.jpg" class="html5lightbox" data-group="team"><span class="magnify"></span></a>
						<div class="progress indivisual">
							<div class="bar" style="width: 30%;"></div>
							<span>Surgeon Skills</span><i>30%</i>
						</div>
						<div class="progress indivisual">
							<div class="bar" style="width: 60%;"></div>
							<span>Cardiology Skills</span><i>60%</i>
						</div>
					</div>
				</div>
				<div class="figcaption"> 
					<div class="serve-intro">
						<h3><i class="theme-icon user"></i>Dr. Ava Kuch</h3>
						<span class="speciality">Cardiologist</span> 
					</div> 
					<div class="contact">
						<h4>Contact</h4>
						<ul>
							<li><a href="default.htm" title=""><i class="theme-icon mail"></i></a></li>
							<li><a href="default.htm" title=""><i class="theme-icon twitter"></i></a></li>
							<li><a href="default.htm" title=""><i class="theme-icon facebook"></i></a></li>
							<li><a href="default.htm" title=""><i class="theme-icon skype"></i></a></li>
						</ul>
					</div> 
				</div>
			</li>
			<li>
				<div class="serve-img"> 
					<img src="img/resource/serve2.jpg" alt="" />
					<div class="serve-hover">
						<p>Lorem ipsdo lowr st amet, consectietd ur adipiscing elit.as fvharetra magna id augue pelle sque non tempius nunc consectetur.</p>
						<a href="#" title="" class="link"></a>
						<a href="img/resource/serve2.jpg" class="html5lightbox" data-group="team"><span class="magnify"></span></a>
						<div class="progress indivisual">
							<div class="bar" style="width: 30%;"></div>
							<span>Surgeon Skills</span><i>30%</i>
						</div>
						<div class="progress indivisual">
							<div class="bar" style="width: 60%;"></div>
							<span>Cardiology Skills</span><i>60%</i>
						</div>
					</div>
				</div>
				<div class="figcaption"> 
					<div class="serve-intro">
						<h3><i class="theme-icon user"></i>Dr. Grace Henry</h3>
						<span class="speciality">Urologist</span> 
					</div> 
					<div class="contact">
						<h4>Contact</h4>
						<ul>
							<li><a href="default.htm" title=""><i class="theme-icon mail"></i></a></li>
							<li><a href="default.htm" title=""><i class="theme-icon twitter"></i></a></li>
							<li><a href="default.htm" title=""><i class="theme-icon facebook"></i></a></li>
							<li><a href="default.htm" title=""><i class="theme-icon skype"></i></a></li>
						</ul>
					</div> 
				</div>
			</li>
			<li>
				<div class="serve-img"> 
					<img src="img/resource/serve3.jpg" alt="" />
					<div class="serve-hover">
						<p>Lorem ipsdo lowr st amet, consectietd ur adipiscing elit.as fvharetra magna id augue pelle sque non tempius nunc consectetur.</p>
						<a href="#" title="" class="link"></a>
						<a href="img/resource/serve3.jpg" class="html5lightbox" data-group="team"><span class="magnify"></span></a>
						<div class="progress indivisual">
							<div class="bar" style="width: 30%;"></div>
							<span>Surgeon Skills</span><i>30%</i>
						</div>
						<div class="progress indivisual">
							<div class="bar" style="width: 60%;"></div>
							<span>Cardiology Skills</span><i>60%</i>
						</div>
					</div>
				</div>
				<div class="figcaption"> 
					<div class="serve-intro">
						<h3><i class="theme-icon user"></i>Dr. Jayden Ryan</h3>
						<span class="speciality">Pathologist</span> 
					</div> 
					<div class="contact">
						<h4>Contact</h4>
						<ul>
							<li><a href="default.htm" title=""><i class="theme-icon mail"></i></a></li>
							<li><a href="default.htm" title=""><i class="theme-icon twitter"></i></a></li>
							<li><a href="default.htm" title=""><i class="theme-icon facebook"></i></a></li>
							<li><a href="default.htm" title=""><i class="theme-icon skype"></i></a></li>
						</ul>
					</div> 
				</div>
			</li>
        </ul>
      </div>
    </div>
  </div>  <!-- Our Team Carousel -->

</section><!-- Our Team Section -->


<section id="services" class="pattern1">
  <div class="title">
    <div class="container">
      <h2>THE EXPERT SERVICES THAT WE OFFER <span class="slogan">Ways To Tackle Health Issues</span> </h2>
    </div>
  </div><!-- Section Title -->
  <div class="container">
    <div id="slider2"> <a class="buttons prev" href="#"></a>
      <div class="viewport">
        <ul class="overview">
          <li> 
          	<img src="img/resource/services1.jpg" /> 
            <span class="service-img-shadow"></span> 
            <span class="hexagon"><img class="lts" src="img/long-term-service.png" alt="" /></span>
            <h4>LONG TERM CARE</h4>
            <p>Duis sed odio sit amet nibh vulputate cursu sit t mauris. Morbi accumsan ipsum velit. Nam nellus a odio tincidu . cursus a ss. Morbi accumsan ipsum velit. </p>
            <span class="triangle-design"></span> 
          </li>
          <li> 
          	<img src="img/resource/services2.jpg" />
            <span class="service-img-shadow"></span> 
            <span class="hexagon"><img class="ls" src="img/labortary-services.png" alt="" /></span>
            <h4>LABORTARY SERVICES</h4>
            <p>Duis sed odio sit amet nibh vulputate cursu sit t mauris. Morbi accumsan ipsum velit. Nam nellus a odio tincidu . cursus a ss. Morbi accumsan ipsum velit. </p>
             <span class="triangle-design"></span>
          </li>
          <li> 
          	<img src="img/resource/services3.jpg" /> 
            <span class="service-img-shadow"></span> 
            <span class="hexagon"><img class="ec" src="img/emergency-care.png" alt="" /></span>
            <h4>EMERGENCY CARE</h4>
            <p>Duis sed odio sit amet nibh vulputate cursu sit t mauris. Morbi accumsan ipsum velit. Nam nellus a odio tincidu . cursus a ss. Morbi accumsan ipsum velit. </p>
            <span class="triangle-design"></span> 
           </li>
          <li> 
          <img src="img/resource/services1.jpg" /> 
          <span class="service-img-shadow"></span> 
          <span class="hexagon"><img class="lts" src="img/long-term-service.png" alt="" /></span>
            <h4>LONG TERM CARE</h4>
            <p>Duis sed odio sit amet nibh vulputate cursu sit t mauris. Morbi accumsan ipsum velit. Nam nellus a odio tincidu . cursus a ss. Morbi accumsan ipsum velit. </p>
            <span class="triangle-design"></span> 
          </li>
          <li> 
          	<img src="img/resource/services2.jpg" /> 
            <span class="service-img-shadow"></span> 
            <span class="hexagon"><img class="ls" src="img/labortary-services.png" alt="" /></span>
            <h4>LABORTARY SERVICES</h4>
            <p>Duis sed odio sit amet nibh vulputate cursu sit t mauris. Morbi accumsan ipsum velit. Nam nellus a odio tincidu . cursus a ss. Morbi accumsan ipsum velit. </p>
            <span class="triangle-design"></span> 
           </li>
          <li> 
            <img src="img/resource/services3.jpg" /> 
            <span class="service-img-shadow"></span> 
            <span class="hexagon"><img class="ec" src="img/emergency-care.png" alt="" /></span>
            <h4>EMERGENCY CARE</h4>
            <p>Duis sed odio sit amet nibh vulputate cursu sit t mauris. Morbi accumsan ipsum velit. Nam nellus a odio tincidu . cursus a ss. Morbi accumsan ipsum velit. </p>
            <span class="triangle-design"></span>
          </li>
        </ul>
      </div>
      <a class="buttons next" href="#"></a> </div><!-- Services Carousel -->
  </div>
</section><!-- Services Section -->


<section id="bottom">
  <div class="container">
  	<div class="tabbable main-page-tabs">
      <ul class="nav main-tabs nav-tabs">
        <li class="active"> <a data-toggle="tab" href="#timetable">DOCTORS TIME TABLE <span class="read">Read With Interest</span> </a> </li>
        <li> <a data-toggle="tab" href="#ourblog">OUR BLOG <span class="read">Read With Interest</span> </a> </li>
        <li> <a data-toggle="tab" href="#events">RECENT EVENTS <span class="read">Read With Interest</span> </a> </li>
      </ul>
      <div class="tab-shadow"></div>
      <div class="tab-content"> 
        
		<div id="timetable" class="tab-pane fade active in">
			<div class="tabbable timetable-tabs tabs-below">
				<ul class="nav days nav-tabs">
					<li class="active"><a data-toggle="tab" href="#sat">Saturday</a></li>
					<li><a data-toggle="tab" href="#sun">Sunday</a></li>
					<li><a data-toggle="tab" href="#mon">Monday</a></li>
					<li><a data-toggle="tab" href="#tue">Tuesday</a></li>
					<li><a data-toggle="tab" href="#wed">Wednesday</a></li>
					<li><a data-toggle="tab" href="#thu">Thursday</a></li>
					<li><a data-toggle="tab" href="#fri">Friday</a></li>
				</ul><!-- Day Selector -->
				<div class="tab-content">
					<div id="sat" class="tab-pane fade active in"> 
						<div class="doctors-time">
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time1.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. Emily Bella</h5>
										<h5><i class="theme-icon tool"></i>Enerologist</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time2.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. David Luis</h5>
										<h5><i class="theme-icon tool"></i>Urologist,</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time3.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. Sofia Nida</h5>
										<h5><i class="theme-icon tool"></i>Pathologist</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time4.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. Jmey Gonzo</h5>
										<h5><i class="theme-icon tool"></i>Cardiologist</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<a href="doctors-timetable.html" title="">View All</a>
						</div> 
					</div><!-- Saturday -->
					<div id="sun" class="tab-pane fade in"> 
							<div class="doctors-time">
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time2.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. David Luis</h5>
										<h5><i class="theme-icon tool"></i>Urologist,</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time3.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. Sofia Nida</h5>
										<h5><i class="theme-icon tool"></i>Pathologist</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time1.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. Emily Bella</h5>
										<h5><i class="theme-icon tool"></i>Enerologist</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time4.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. Jmey Gonzo</h5>
										<h5><i class="theme-icon tool"></i>Cardiologist</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<a href="doctors-timetable.html" title="">View All</a>
						</div> 
					</div><!-- Sunday -->
					<div id="mon" class="tab-pane fade in"> 
						<div class="doctors-time">
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time3.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. Sofia Nida</h5>
										<h5><i class="theme-icon tool"></i>Pathologist</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time4.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. Jmey Gonzo</h5>
										<h5><i class="theme-icon tool"></i>Cardiologist</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time1.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. Emily Bella</h5>
										<h5><i class="theme-icon tool"></i>Enerologist</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time2.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. David Luis</h5>
										<h5><i class="theme-icon tool"></i>Urologist,</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<a href="doctors-timetable.html" title="">View All</a>
						</div> 
					</div><!-- Monday -->
					<div id="tue" class="tab-pane fade in"> 
						<div class="doctors-time">
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time2.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. David Luis</h5>
										<h5><i class="theme-icon tool"></i>Urologist,</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time1.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. Emily Bella</h5>
										<h5><i class="theme-icon tool"></i>Enerologist</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time3.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. Sofia Nida</h5>
										<h5><i class="theme-icon tool"></i>Pathologist</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time4.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. Jmey Gonzo</h5>
										<h5><i class="theme-icon tool"></i>Cardiologist</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<a href="doctors-timetable.html" title="">View All</a>
						</div> 
					</div><!-- Tuesday -->
					<div id="wed" class="tab-pane fade in"> 
						<div class="doctors-time">
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time4.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. Jmey Gonzo</h5>
										<h5><i class="theme-icon tool"></i>Cardiologist</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time1.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. Emily Bella</h5>
										<h5><i class="theme-icon tool"></i>Enerologist</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time2.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. David Luis</h5>
										<h5><i class="theme-icon tool"></i>Urologist,</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time3.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. Sofia Nida</h5>
										<h5><i class="theme-icon tool"></i>Pathologist</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<a href="doctors-timetable.html" title="">View All</a>
						</div> 
					</div><!-- Wednesday -->
					<div id="thu" class="tab-pane fade in"> 
						<div class="doctors-time">
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time3.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. Sofia Nida</h5>
										<h5><i class="theme-icon tool"></i>Pathologist</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time4.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. Jmey Gonzo</h5>
										<h5><i class="theme-icon tool"></i>Cardiologist</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time1.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. Emily Bella</h5>
										<h5><i class="theme-icon tool"></i>Enerologist</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time2.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. David Luis</h5>
										<h5><i class="theme-icon tool"></i>Urologist,</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<a href="doctors-timetable.html" title="">View All</a>
						</div> 
					</div><!-- Thursday -->
					<div id="fri" class="tab-pane fade in">
						<div class="doctors-time">
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time3.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. Sofia Nida</h5>
										<h5><i class="theme-icon tool"></i>Pathologist</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time1.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. Emily Bella</h5>
										<h5><i class="theme-icon tool"></i>Enerologist</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time2.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. David Luis</h5>
										<h5><i class="theme-icon tool"></i>Urologist,</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<div class="doc">
									<div class="doc-img">
										<img src="img/resource/doctor-time4.jpg" alt="" />
									</div>
									<div class="caption">
										<h5><i class="theme-icon user-small"></i>Dr. Jmey Gonzo</h5>
										<h5><i class="theme-icon tool"></i>Cardiologist</h5>
										<h5><i class="theme-icon clock"></i>09:00 AM - 05:00 PM</h5>
									</div> 
								</div>
								<a href="doctors-timetable.html" title="">View All</a>								
						</div> 
					</div><!-- Friday -->
				</div>
			</div>
		</div><!-- Time Table Section -->
        
        <div id="ourblog" class="tab-pane fade in">
          <ul class="round">
            <li> 
            	<span class="blog-img"> 
              	<img src="img/resource/our-blog1.jpg">
                <span class="inactive"></span>
              </span>
              <h3>FULLY RESPONSIVE</h3>
              <span class="views blog-meta"><i class="theme-icon views"></i>89 Views</span> <span class="comments blog-meta"><i class="theme-icon comments"></i>5 Comments</span>
              <p>Lorem ipsum dolor sit amet, nsectetur aitden opiscing elit. Etiam sollicituf interdum erowkas nat pellentesque. Donec m rhoncus sapnj sknen aliquet tempor. Crasu nisi se</p>
              <a class="readmore" href="single-post-image.html" title="">Read More</a> 
            </li>
            <li> 
            	<span class="blog-img"> 
              	<img src="img/resource/our-blog2.jpg"> 
              	<span class="inactive"></span> 
              </span>
              <h3>FULLY RESPONSIVE</h3>
              <span class="views blog-meta"><i class="theme-icon views"></i>89 Views</span> <span class="comments blog-meta"><i class="theme-icon comments"></i>5 Comments</span>
              <p>Lorem ipsum dolor sit amet, nsectetur aitden opiscing elit. Etiam sollicituf interdum erowkas nat pellentesque. Donec m rhoncus sapnj sknen aliquet tempor. Crasu nisi se</p>
              <a class="readmore" href="single-post-image.html" title="">Read More</a> 
            </li>
            <li> 
            	<span class="blog-img"> 
              	<img src="img/resource/our-blog3.jpg"> 
                <span class="inactive"></span> 
              </span>
              <h3>FULLY RESPONSIVE</h3>
              <span class="views blog-meta"><i class="theme-icon views"></i>89 Views</span> <span class="comments blog-meta"><i class="theme-icon comments"></i>5 Comments</span>
              <p>Lorem ipsum dolor sit amet, nsectetur aitden opiscing elit. Etiam sollicituf interdum erowkas nat pellentesque. Donec m rhoncus sapnj sknen aliquet tempor. Crasu nisi se</p>
              <a class="readmore" href="single-post-image.html" title="">Read More</a> 
            </li>
            <li> 
            	<span class="blog-img"> 
              	<img src="img/resource/our-blog1.jpg"> 
                <span class="inactive"></span> 
               </span>
              	<h3>FULLY RESPONSIVE</h3>
              <span class="views blog-meta"><i class="theme-icon views"></i>89 Views</span> <span class="comments blog-meta"><i class="theme-icon comments"></i>5 Comments</span>
              	<p>Lorem ipsum dolor sit amet, nsectetur aitden opiscing elit. Etiam sollicituf interdum erowkas nat pellentesque. Donec m rhoncus sapnj sknen aliquet tempor. Crasu nisi se</p>
              <a class="readmore" href="single-post-image.html" title="">Read More</a> 
            </li>
            <li>
             <span class="blog-img"> 
             	<img src="img/resource/our-blog2.jpg"> 
             	<span class="inactive"></span> 
             </span>
             <h3>FULLY RESPONSIVE</h3>
              <span class="views blog-meta"><i class="theme-icon views"></i>89 Views</span> <span class="comments blog-meta"><i class="theme-icon comments"></i>5 Comments</span>
             <p>Lorem ipsum dolor sit amet, nsectetur aitden opiscing elit. Etiam sollicituf interdum erowkas nat pellentesque. Donec m rhoncus sapnj sknen aliquet tempor. Crasu nisi se</p>
              <a class="readmore" href="single-post-image.html" title="">Read More</a> 
            </li>
            <li>
             <span class="blog-img"> 
             	<img src="img/resource/our-blog3.jpg"> 
             	<span class="inactive"></span> 
             </span>
             <h3>FULLY RESPONSIVE</h3>
              <span class="views blog-meta"><i class="theme-icon views"></i>89 Views</span> <span class="comments blog-meta"><i class="theme-icon comments"></i>5 Comments</span>
             <p>Lorem ipsum dolor sit amet, nsectetur aitden opiscing elit. Etiam sollicituf interdum erowkas nat pellentesque. Donec m rhoncus sapnj sknen aliquet tempor. Crasu nisi se</p>
              <a class="readmore" href="single-post-image.html" title="">Read More</a> 
           </li>
          </ul>
        </div><!-- Our Blog Section -->
        
      <div id="events" class="tab-pane fade in">
        <div class="tabbable tabs-below events">
          <div class="tab-content">
            <div id="event1" class="tab-pane fade active in">
              <div class="event-img"> 
                <a title="" href="http://player.vimeo.com/video/33741794" class="html5lightbox">
                  <span class="play-icon"></span>
                </a>
                <img src="img/resource/events-img1.jpg" alt="" /> 
              </div>
              <div class="post-details">
                <h2><a href="event-single-page.html" title="">Powerful ideas, technical creativity</a></h2>
				<div class="post-meta"> 
					<span>                 
						<span class="published-date"><i class="theme-icon calender"></i><span>May, 3, 2013</span></span>  
						<span class="post-time"><i class="theme-icon clock"></i>10:48 pm</span>
					</span>
				</div>
                <article>
                  <p>Nam ultricies dolor elit varius sceisque. leonio estibulum in lacus lis pretium feugiat nonwin ed elit. Duis pretiurna Nam ultricies dolor elit varius sceisque. vgw estibulum in lacus listion pretium feugiat nonwi lacus lis pretiu feugiat nonwin ed elit</p>
                  <a class="readmore" href="event-single-page.html" title="">Read More</a> 
                </article>
              </div>
            </div><!-- First Event -->
            <div id="event2" class="tab-pane fade in">
              <div class="event-img"> 
                <img src="img/resource/events-img2.jpg" alt="" /> 
              </div>
              <div class="post-details">
                <h2><a href="event-single-page.html" title="">Powerful ideas, technical creativity</a></h2>
				<div class="post-meta"> 
					<span>                 
						<span class="published-date"><i class="theme-icon calender"></i><span>May, 3, 2013</span></span>  
						<span class="post-time"><i class="theme-icon clock"></i>10:48 pm</span>
					</span>
				</div>
                <article>
                  <p>Nam ultricies dolor elit varius sceisque. leonio estibulum in lacus lis pretium feugiat nonwin ed elit. Duis pretiurna Nam ultricies dolor elit varius sceisque. vgw estibulum in lacus listion pretium feugiat nonwi lacus lis pretiu feugiat nonwin ed elit</p>
                  <a class="readmore" href="event-single-page.html" title="">Read More</a> 
                </article>
              </div>
            </div><!-- Second Event -->
            <div id="event3" class="tab-pane fade in">
              <div class="event-img"> 
                <img src="img/resource/events-img3.jpg" alt="" /> 
                <a title="" href="http://player.vimeo.com/video/33741794" class="html5lightbox">
                  <span class="play-icon"></span>
                </a>
              </div>
              <div class="post-details">
                <h2><a href="event-single-page.html" title="">Powerful ideas, technical creativity</a></h2>
				<div class="post-meta"> 
					<span>                 
						<span class="published-date"><i class="theme-icon calender"></i><span>May, 3, 2013</span></span>  
						<span class="post-time"><i class="theme-icon clock"></i>10:48 pm</span>
					</span>
				</div>
                <article>
                  <p>Nam ultricies dolor elit varius sceisque. leonio estibulum in lacus lis pretium feugiat nonwin ed elit. Duis pretiurna Nam ultricies dolor elit varius sceisque. vgw estibulum in lacus listion pretium feugiat nonwi lacus lis pretiu feugiat nonwin ed elit</p>
                  <a class="readmore" href="event-single-page.html" title="">Read More</a> 
                </article>
              </div>
            </div><!-- Third Event -->
          </div>
          <ul class="nav nav-tabs">
            <li class="active"> 
              <a data-toggle="tab" href="#event1"> 
                <span class="events-thumb">
					<img src="img/resource/events1.jpg" alt="" /> 
					<h4>Chottani Mallows Taleon<span>By Machil Goume</span></h4>
                </span>
              </a>
            </li>
            <li class=""> 
              <a data-toggle="tab" href="#event2"> 
                <span class="events-thumb">
					<img src="img/resource/events2.jpg" alt="" /> 
					<h4>Chottani Mallows Taleon<span>By Machil Goume</span></h4>
                </span>
              </a>
            </li>
            <li class=""> 
              <a data-toggle="tab" href="#event3"> 
                <span class="events-thumb">
					<img src="img/resource/events3.jpg" alt="" /> 
					<h4>Chottani Mallows Taleon<span>By Machil Goume</span></h4>
                </span>
              </a>
            </li>
          </ul> <!-- Event Selector -->
        </div>
      </div><!-- Recent Events Section -->  

        <div class="tabbable tabs-below events">
          <div class="tab-content">
            <div id="event1" class="tab-pane fade active in">
              <div class="event-img"> 
                <a title="" href="http://player.vimeo.com/video/33741794" class="html5lightbox">
                  <span class="play-icon"></span>
                </a>
                <img src="img/resource/events-img1.jpg" alt="" /> 
              </div>
              <div class="post-details">
                <h2><a href="event-single-page.html" title="">Powerful ideas, technical creativity</a></h2>
				<div class="post-meta"> 
					<span>                 
						<span class="published-date"><i class="theme-icon calender"></i><span class="coloured">May, 3, 2013</span></span>  
						<span class="post-time"><i class="theme-icon clock"></i>10:48 pm</span>
					</span>
				</div>
                <article>
                  <p>Nam ultricies dolor elit varius sceisque. leonio estibulum in lacus lis pretium feugiat nonwin ed elit. Duis pretiurna Nam ultricies dolor elit varius sceisque. vgw estibulum in lacus listion pretium feugiat nonwi lacus lis pretiu feugiat nonwin ed elit</p>
                  <a class="readmore" href="event-single-page.html" title="">Read More</a> 
                </article>
              </div>
            </div><!-- First Event -->
            <div id="event2" class="tab-pane fade in">
              <div class="event-img"> 
                <img src="img/resource/events-img2.jpg" alt="" /> 
                <a title="" href="http://player.vimeo.com/video/33741794" class="html5lightbox">
                  <span class="play-icon"></span>
                </a>
              </div>
              <div class="post-details">
                <h2><a href="event-single-page.html" title="">Powerful ideas, technical creativity</a></h2>
				<div class="post-meta"> 
					<span>                 
						<span class="published-date"><i class="theme-icon calender"></i><span class="coloured">May, 3, 2013</span></span>  
						<span class="post-time"><i class="theme-icon clock"></i>10:48 pm</span>
					</span>
				</div>
                <article>
                  <p>Nam ultricies dolor elit varius sceisque. leonio estibulum in lacus lis pretium feugiat nonwin ed elit. Duis pretiurna Nam ultricies dolor elit varius sceisque. vgw estibulum in lacus listion pretium feugiat nonwi lacus lis pretiu feugiat nonwin ed elit</p>
                  <a class="readmore" href="event-single-page.html" title="">Read More</a> 
                </article>
              </div>
            </div><!-- Second Event -->
            <div id="event3" class="tab-pane fade in">
              <div class="event-img"> 
                <img src="img/resource/events-img3.jpg" alt="" /> 
                <a title="" href="http://player.vimeo.com/video/33741794" class="html5lightbox">
                  <span class="play-icon"></span>
                </a>
              </div>
              <div class="post-details">
                <h2><a href="event-single-page.html" title="">Powerful ideas, technical creativity</a></h2>
				<div class="post-meta"> 
					<span>                 
						<span class="published-date"><i class="theme-icon calender"></i><span class="coloured">May, 3, 2013</span></span>  
						<span class="post-time"><i class="theme-icon clock"></i>10:48 pm</span>
					</span>
				</div>
                <article>
                  <p>Nam ultricies dolor elit varius sceisque. leonio estibulum in lacus lis pretium feugiat nonwin ed elit. Duis pretiurna Nam ultricies dolor elit varius sceisque. vgw estibulum in lacus listion pretium feugiat nonwi lacus lis pretiu feugiat nonwin ed elit</p>
                  <a class="readmore" href="event-single-page.html" title="">Read More</a> 
                </article>
              </div>
            </div><!-- Third Event -->
          </div>
          <ul class="nav nav-tabs">
            <li class="active"> 
              <a data-toggle="tab" href="#event1"> 
                <span class="events-thumb">
					<img src="img/resource/events1.jpg" alt="" /> 
					<h4>Chottani Mallows Taleon<span>By Machil Goume</span></h4>
                </span>
              </a>
            </li>
            <li class=""> 
              <a data-toggle="tab" href="#event2"> 
                <span class="events-thumb">
					<img src="img/resource/events2.jpg" alt="" /> 
					<h4>Chottani Mallows Taleon<span>By Machil Goume</span></h4>
                </span>
              </a>
            </li>
            <li class=""> 
              <a data-toggle="tab" href="#event3"> 
                <span class="events-thumb">
					<img src="img/resource/events3.jpg" alt="" /> 
					<h4>Chottani Mallows Taleon<span>By Machil Goume</span></h4>
                </span>
              </a>
            </li>
          </ul> <!-- Event Selector -->
        </div>
      </div><!-- Recent Events Section -->  
      </div>
    </div> <!-- Main Page Tabs -->
    
    
    <div class="sidebox">
      <div class="sidebox-head">
        <h2>Make An Appointment<span>Ready To Serve You Happily</span></h2>
      </div><!-- Form Title -->
      <div class="sidebox-body">
        <p> Just login and you cannt chsange things as you browse your site.You can watch videos and learn how to:</p>
        <form action="" class="appointment-form">
          <input class="full" type="text" placeholder="Name Of Patient">
          <span class="half-fields">
          <input class="half" type="text" placeholder="Phone No">
          <input class="half" type="text" placeholder="Doctor Name">
          </span>
          <input class="full" type="email" placeholder="Email">
          <span class="half-fields">
          <input class="half" type="text" placeholder="Date">
          <input class="half" type="text" placeholder="Time">
          </span>
          <input class="full" type="text" placeholder="Additional Info">
          <input class="submit" type="submit" value="Submit">
        </form>
      </div>
    </div><!-- Appointment Form -->
  </div>
</section><!-- Bottom Tabs And Form Section -->
</div>
<footer>
  <div class="container">
    <div class="widget">
      <h3 class="footer-title">Follow <span>Us</span></h3>
      <div class="follow">
        <ul>
          <li><a href="default.htm" title=""><i class="theme-icon twitter"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon facebook"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon skype"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon linkedin"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon flickr"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon youtube"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon dropjack"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon dribble"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon vimeo"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon rss"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon tumbler"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon share"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon behance"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon audioscrobble"></i></a></li>
          <li><a href="default.htm" title=""><i class="theme-icon yahoo"></i></a></li>
        </ul>
        <p>Lorem Ipsum is simply dummy text of the prinwng and typesetting industry.</p>
      </div>
    </div> <!-- Follow Us -->
    <div class="widget">
      <h3 class="footer-title">Our <span>Location</span></h3>
      <div class="location">
       <iframe height="150" src="http://maps.google.com/?ie=UTF8&amp;ll=10.487812,-22.675781&amp;spn=45.061776,86.572266&amp;t=m&amp;z=4&amp;output=embed"></iframe>
        <ul>
          <li><i class="theme-icon email"></i><span class="source">by e-mail;</span> <span class="detail">info@yoursite.com</span> </li>
          <li><i class="theme-icon phone"></i><span class="source">by phone;</span> <span class="detail">+900-78601</span> </li>
          <li><i class="theme-icon home"></i><span class="source">Address;</span> <span class="detail">123, Seward Street, Os kla Home City, USA</span> </li>
        </ul>
      </div>
    </div> <!-- Location -->
    <div class="widget">
      <h3 class="footer-title">Contact <span>Us</span></h3>
      <div class="contact-form">
        <form>
          <input type="text" placeholder="Name">
          <input type="email" placeholder="Email">
          <textarea rows="4" placeholder="Message"></textarea>
          <input type="Submit" value="Submit" class="submit">
        </form>
      </div>
    </div> <!-- Contact Us Form -->
    <div class="widget">
      <h3 class="footer-title">Recent <span>From Flickr</span></h3>
		<div class="flickr-images">
			<a href="#"><img src="img/resource/flickr1.jpg" alt="" /></a>
			<a href="#"><img src="img/resource/flickr2.jpg" alt="" /></a>
			<a href="#"><img src="img/resource/flickr3.jpg" alt="" /></a>
			<a href="#"><img src="img/resource/flickr4.jpg" alt="" /></a>
			<a href="#"><img src="img/resource/flickr5.jpg" alt="" /></a>
			<a href="#"><img src="img/resource/flickr6.jpg" alt="" /></a>
			<a href="#"><img src="img/resource/flickr7.jpg" alt="" /></a>
			<a href="#"><img src="img/resource/flickr8.jpg" alt="" /></a>
			<a href="#"><img src="img/resource/flickr9.jpg" alt="" /></a>
		</div>
	</div>
  </div>
</footer><!-- Footer -->

<div class="bottom-footer">
  <div class="container">
 	<p>"@ All Rights Reserved" by Webinane A <a href="http://www.webinane.com/default.htm" title="">Web Design Company</a></p>
   <ul>
      <li><a href="#" title="">Home</a></li>
      <li><a href="#" title="">Our Doctors</a></li>
      <li><a href="#" title="">Services</a></li>
      <li><a href="#" title="">Privacy Policy</a></li>
    </ul>
  </div>
</div><!-- Bottom Footer Strip -->

<div class="side-panel">
	<span class="panel-icon"><p>Template Settings Panel</p></span>


	<h6>Theme Colors</h6>
	<div class="colors">
		<a href="index.html" title="" class="color1"></a>
		<a href="../green/index.html" title="" class="color2"></a>
		<a href="../lagoon/index.html" title="" class="color3"></a>
		<a href="../orange/index.html" title="" class="color4"></a>
		<a href="../purple/index.html" title="" class="color5"></a>
	</div>

	<h6>Layout Styles</h6>
	<div class="layout-buttons">
		<a class="boxed-style" title="">BOXED</a>
		<a class="full-style" title="">WIDESCREEN</a>
	</div>

	<h6>Bakground Patterns</h6>
	<div class="colors">
		<a href="#" title="" class="pat1"></a>
		<a href="#" title="" class="pat2"></a>
		<a href="#" title="" class="pat3"></a>
		<a href="#" title="" class="pat4"></a>
		<a href="#" title="" class="pat5"></a>
		<a href="#" title="" class="pat6"></a>
		<a href="#" title="" class="pat7"></a>
		<a href="#" title="" class="pat8"></a>
		<a href="#" title="" class="pat9"></a>
		<a href="#" title="" class="pat10"></a>
	</div>
	
</div>

</body>
</html>
